.brand-logo{
			margin-top: 6px;
}
.bening{background:rgba(0,0,0,0.4);}
.cara-kerja,.kategori{
	margin-bottom: 5%;
}
.parallax-container {
		height: 300px;
}
.daftarkan{
	margin-top: 5%;
}
footer.page-footer{
	margin-top: 0px;
}
.login-box{
	padding: 50px;
}
.box-bawah{
	margin-bottom: 10px;
}
.sign-up-box{
	margin-top: 5%;	
}
.sign-up-main{
	padding: 5%;
}
