<div class="col s12 l9 right">
	<div class="card white">
		<div class="card-content teal-text">
			<h5>Sub Category</h5>
			<div class="divider"></div>
			<h6><b>Perlengkapan pesta</b></h6>
										
			<h6><b>Paket pesta</b></h6>
				
		</div>					
	</div>
</div>

<div class="col s12 l9 right">
	<div class="card white">
		<div class="card-content teal-text">
			<h5>Sub Category</h5>
			<div class="divider"></div>
			<h6><b>Perlengkapan pesta</b></h6>
										
			<h6><b>Paket pesta</b></h6>
				
		</div>					
	</div>
</div>